@media only screen and (max-width: 991px) {
    #instructor .container {
        background: rgba(255, 255, 255, 0.8);
        padding: 20px;
    }
    #hero .row {
        display: block;
    }
    .row {
        display: block;
    }
    .col-sm-7 {
        width: 100%;
    }
    .resource-row {
        display: flex;
        flex-wrap: wrap;
    }
    .resource {
        width: 50%;
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 768px) {
    .logo {
        width: 50%;
    }
    #optin p {
        margin: 0 0 10px;
    }
    #video-features iframe {
        height: 240px;
    }
    .resource {
        width: 100%;
    }
}

@media only screen and (max-width: 568px) {
    #instructor .num {
        height: 100px;
        width: 100px;
        font-size: 22px;
    }
    #instructor .num sum {
        font-size: 16px;
    }
}
